<div class="login_wrapper">
	<div class="login_container d-flex justify-content-center">
		<div class="login_box card">
				<div class="card-body">
					<div class="login_header text-center">
						<img src="../../assets/img/logo.png" class="rounded-circle">
						<h3>后台管理系统登录</h3>
					</div>
					<hr>
					<form action="">
						<div class="form-group">
							<input type="text" class="form-control">
						</div>
						<div class="form-group">
								<input type="password" class="form-control">
						</div>
						<div class="form-group">
							<button class="btn btn-primary">登录</button>
						</div>	
					</form>
					<p class="text-right"><a href="">忘记密码?</a></p>
					<div class="copy_right">
						<p class="text-center">Copyright 2018 zxl. All Rights Reserved.</p>
					</div>
				</div>
		</div>
	</div>
	<div class="text-center login_desc">系统仅支持Edge、Google Chrome、Mozilla Firefox以及其它主流的浏览器，如您的浏览器无法使用本系统，请更换其它浏览器！</div>
</div>
